---
layout: default
---

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="nickname" style="font-family:'Courier New', monospace;">Rushi Vispute</div>
            <div class="description">
                <p style="font-family:'Courier New', monospace;">👋 Hey, I am Rushi, I like to <a href="https://x.com/whereisrishi_">ponder</a>, <a href="https://medium.com/@rushi.vispute29">write</a> and occassionally <a href="https://github.com/Styleebender">build</a> stuff.</br></p>
            </div>
            <div class="links">
                <a class="link-item" title="Link"
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=rushi.vispute29@gmail.com" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-link"></i>
                </a>
                <!-- <a class="link-item" title="YouTube"
                    href="https://www.youtube.com/@ritwikraha" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-youtube"></i>
                </a> -->
                <a class="link-item" title="Medium"
                    href="https://medium.com/@rushi.vispute29" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-boook"></i>
                </a>
                <a class="link-item" title="Twitter" href="https://x.com/whereisrishi_" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-twitter"></i>
                </a>
                <a class="link-item" title="Github" href="https://github.com/Styleebender" target="_blank" rel="noopener">
                    <i class="iconfont icon-github"></i>
                </a>
            </div>
        </div>
    </div>
    <script>"serviceWorker" in navigator && (navigator.serviceWorker.controller ? console.log("[PWA Builder] active service worker found, no need to register") : navigator.serviceWorker.register("pwabuilder-sw.js", { scope: "./" }).then(function (e) { console.log("[PWA Builder] Service worker has been registered for scope: " + e.scope) }))</script>
</div>
